mat-form-field {
    width: 75%;
    min-width: 350px;
}

.container {
    width: 100%;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.input_container {
    display: flex;
    flex-direction: column;
}

.button_container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 25px;
}